body {
    background-color: rgb(235 235 235);
    margin: 0px;
    max-width: 99.9%;
}

@media only screen and (min-width:1024px) {
    .burger__menu{
        display: none;
    }

    .menu__bottom{
        display: none;
    }
}

    .header {
        display: block;
        text-align:center;
    }

    .header__logo {
        display: grid;
    }

    .header__title {
        text-align: center;
    }

    .menu__fullscreen > .menu__list > .menu__item{
        display: inline-block;
    }

    .menu__item > a {
        text-decoration: none;
        color: black;
        transition-duration: 0.25s;
    }


    .menu__item > a:hover {
        color: red;
        font-size: 25px;
        transition-duration: 0.25s;
     }

input {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .burger__menu{
        display: flex;
    }

    .menu__item > a:hover {
        font-size: 18px;
    }
    
    .menu__fullscreen{
        display: none;
    }
}
    
    .menu__bottom {
        float: right;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__bottom > span,
    .menu__bottom > span::before,
    .menu__bottom > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

        .menu__bottom > span::before {
            content: '';
            top: -8px;
        }

        .menu__bottom > span::after {
            content: '';
            top: 8px;
        }
    .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    #menu__toggle:checked ~ .menu__bottom > span {
        transform: rotate(45deg);
    }

        #menu__toggle:checked ~ .menu__bottom > span::before {
            top: 0;
            transform: rotate(0);
        }

        #menu__toggle:checked ~ .menu__bottom > span::after {
            top: 0;
            transform: rotate(90deg);
        }

    #menu__toggle:checked ~ .menu {
        visibility: visible;
        right: 0;
    }

    .menu__bottom > span,
    .menu__bottom > span::before,
    .menu__bottom > span::after {
        transition-duration: .25s;
    }

    .menu {
        transition-duration: .25s;
    }


    .menu__item > a:hover {
        color: red;
        transition-duration: 0.25s;
    }

    .menu__item > a {
        text-decoration: none;
        color: black;
    }

.main {
    margin: 0 7%;
}

.main > h2 {
    text-align: center;
    margin-bottom: 15px;
}

.main__content {
    display: flex;
    flex-direction: column;
}

.main__content > div:nth-child(3) {
    flex-direction: row-reverse;
}

.main__content > hr {
    width: 100%;
}

.main__block > p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.main__block {
    display: flex;
    max-width: 100%;
    margin-bottom: 25px;
    align-items: flex-start;
}

.main__block > img {
    max-width: 30%;
    max-height: 320px;
    border-radius: 10%;
    padding: 13px;
}

.footer {
    display: block;
    background-color: rgb(39, 42, 59);
    width: 100%;
}

.footer__contact {
    display: flex;
    justify-content: center;
}

.footer__item {
    display: inline-grid;
    justify-items: center;
    margin: 15px;
}

.footer__item > p {
    color: rgb(157, 157, 154);
}

.footer__item > p:hover {
    color: red;
    transition-duration: 0.25s;
}